<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <button class="button-one">Run AJAX Request to Root</button>
    <button class="button-two">Run AJAX Request to Ping/Pong</button>
    <section>

    </section>
    <button class="button-three">Run AJAX Request to Count</button>
    <section class='section-7'></section>
    <button class="button-8">Run AJAX Request to Time</button>
    <section class="section-8"></section>
    <button class="button-9">Run AJAX Request to A Car</button>
    <section class="section-9">
      <ul class="ul-class"></ul>
    </section>
  </body>
</html>
